<menus>
<menu id="MainMenu">
    <menu-item id="newGame" label="@Strings.newGame" />
    <menu-item id="highScores" label="@Strings.highScores" />
    <menu-item id="settings" label="@Strings.settings" />
</menu>
<menu id="SettingsMenu">
    <menu-item id="darkMode" label="@Strings.darkMode"/>
    <menu-item id="snakeColor" label="@Strings.snakeColor"/>
    <menu-item id="difficulty" label="@Strings.difficulty"/>
</menu>
</menus>

